# Clustering US States with QMeans

This notebook looks at a data on US states and clusters them using the quantum machine learning `fit_and_predict` function.

In [1]:
from qcware.forge.qml import QMeans
from qcware import forge
# this line is for internal tracking; it is not necessary for use!
forge.config.set_environment_source_file('clustering.ipynb')

# Paste your API key below if not using Forge hosted notebooks
# qcware.config.set_api_key('paste API key here')

### Import data from CSV file

In [2]:
import numpy as np
import pandas as pd

states_df = pd.read_csv('./clustering_us_states_data.csv')

state_data = states_df.drop(columns=["State", "Code"]).values
state_data = state_data / np.linalg.norm(state_data, axis=0)

states_df.head()

,State,Code,Tidal Shoreline,Summer Avg Temp,Winter Avg Temp,Highest Elevation,Lowest Elevation,Mean Elevation,Rainfall
0,Alabama,AL,607,26,8,2413,0,500,58.3
1,Alaska,AK,33904,11,-16,20310,0,1900,22.5
2,Arizona,AZ,0,26,6,12637,72,4100,13.6
3,Arkansas,AR,0,26,5,2753,55,650,50.6
4,California,CA,3427,23,8,14505,-279,2900,22.2

### Run q-means clustering

In [3]:
n_clusters = 6

In [4]:
qmeans = QMeans(n_clusters=n_clusters)
qmeans.fit(state_data)
states_df["Cluster"] = qmeans.predict(state_data)

### Results

In [5]:
print('Quantum labels from q-means:')

# Group by cluster and print each state
for cluster_idx, cluster in states_df.groupby(by=["Cluster"]):
    print(f'\nGroup {cluster_idx}:')
    
    for _, state in cluster.iterrows():
        print('  ' + state["State"])

Quantum labels from q-means:

Group 0:
  Connecticut
  Illinois
  Indiana
  Iowa
  Kansas
  Maine
  Massachusetts
  Michigan
  Minnesota
  Missouri
  Nebraska
  New Hampshire
  New York
  North Dakota
  Ohio
  Pennsylvania
  South Dakota
  Vermont
  West Virginia
  Wisconsin

Group 1:
  Alaska
  Colorado
  New Mexico
  Utah
  Wyoming

Group 2:
  Hawaii

Group 3:
  Alabama
  Arkansas
  Delaware
  Florida
  Georgia
  Kentucky
  Louisiana
  Maryland
  Mississippi
  New Jersey
  North Carolina
  Oklahoma
  Rhode Island
  South Carolina
  Tennessee
  Texas
  Virginia

Group 4:
  Arizona
  California
  Oregon
  Washington

Group 5:
  Idaho
  Montana
  Nevada